run = "npm run dev"
modules = ["nix", "nodejs-20", "python-3.10", "web"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 4173
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true
