/* Add any global styles specific to the App */
.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 50%;
  padding-left: 0px;
}

.form-container form {
  display: flex;
  align-items: center;
}

.form-container input {
  margin-right: 10px;
}

.suggestions {
  border: 1px solid #ddd;
  max-height: 100px;
  overflow-y: auto;
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 45%;
  position: absolute;
  z-index: 1;
}

.suggestions li {
  padding: 3px;
  cursor: pointer;
}

.suggestions li.suggestion-active {
  background-color: #f4f4f4;
}

.autocomplete-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-input {
  width: 50%; 
  padding: 4px; 
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px; 
  height: 40px; 
}

.autocomplete-suggestions {
  position: absolute;
  border: 1px solid #ddd;
  background: white;
  z-index: 1;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.autocomplete-suggestion {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-suggestion-active {
  background-color: #f4f4f4;
}

.autocomplete-suggestions::-webkit-scrollbar {
  width: 8px;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.autocomplete-suggestions::-webkit-scrollbar-track {
  background: #f1f1f1;
}