/* Global */

/* Base Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%; /* Allow full width initially */
  margin: 0 auto; /* Center the main content */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.error-message {
  color: red;
}

.result {
  margin-top: 20px;
}

.result-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px 0 5px 0; 
  margin-top: 0px; 
  border-radius: 8px;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 10px); 
  max-width: 600px; 
  text-align: left;
  margin-left: 0; 
}

.result-box h3 {
  margin-top: 0;
}

.last-updated {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
  color: #666;
  margin-top: 0;
}

.last-updated span {
  display: inline;
}

.source {
  font-size: 9px;
  color: #666;
  margin-left: auto; /* Push the element to the right */
  text-align: right; /* Ensure text aligns to the right */
}

/*@media for larger screens */
@media (min-width: 769px) {
  .main {
    padding-top: 0px;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto; /* Center the main content */
  }
  
  .footer {
    position: static; /* Remove fixed positioning for larger screens */
  }
}

/*@media for smaller screens */
@media (max-width: 768px) {
  .main {
    padding-top: 0px;
    width: 100%; /* Full width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

/*@media for landscape orientation */
@media (orientation: landscape) {
  .main {
    padding-top: 50px;
    width: 100vw; /* Full viewport width in landscape mode */
    padding: 0px; /* Adjust padding if needed */
  }
}

/*@media for portrait orientation */
@media (orientation: portrait) {
  .main {
    padding-top: 0px;
    width: 100vw; /* Full viewport width in portrait mode */
    padding: 0px; /* Adjust padding if needed */
  }
}