/* Header */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #c3cea3;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 55px;
  max-height: 55px;
  margin-right: 15px;
  width: auto;
  height: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #44656c;
  color: white;
  font-size: 17px;
  padding: 10px 20px;
  border: 1px solid #31422d;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c3cea3;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  min-width: 150px;
  border: 1px solid #4b6e54;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b5ebcb;
}

.fire-hazard-info-box {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 30px);
  max-width: 600px;
  text-align: left;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .title {
    font-size: 20px;
    margin: 10px 0;
  }

  .logo-img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 0;
  }

  .dropbtn {
    font-size: 15px;
    padding: 8px 16px;
  }

  .fire-hazard-info-box {
    font-size: 12px;
    padding: 10px;
  }
}
